.bi-person-add{
    font-size: 50px;
}
/*.navbar-nav{*/
/*    align-items: center;*/
/*}*/
.nav-link{
    font-size: 20px;
}
.bi{
    left: 94%;
    cursor: pointer;
}
.submitbtn{
   height: 52px;
}

.idnBox{
    border:1px solid grey;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.bi-person-circle::before {
    font-size: xx-large;
}
 .navbar-brand{
    display: flex;
    align-items: center;
}
 .acTxt{
     font-size: 60px;
     margin-top: 120px;
 }
 .isActive{
     background-color:#b0aba33b !important;
     border-right: 5px solid #ffc107;
     border-radius: 15px;
 }
 .profileimg{
     width: 120px;
     height: 120px;
     border-radius: 50% !important;
 }
.profileimg2{
     width: 35px;
     height: 35px;
     border-radius: 50% !important;
 }
 .proIconDiv{
     bottom: -60px;
 }
 .iconss{
     width: 120px;
     justify-content: center;
     background: #000000ba;
     height: 120px;
     align-items: center;
     border-radius: 50%;
 }
 .dropdown-toggle{
     display: flex;
 }
 .dropdown-toggle::after{
     margin-top: 15px;
 }
@media (min-width: 992px) {
    .sideNav{
        width: 20%;
        height: 100%;
        align-items: baseline;
        padding-top: 25px;
    }
    .sideNav .container{
        flex-direction: column;
        align-items: baseline;
    }
    .acTxt{
        margin-top: 0px;
    }
    .navbar-expand-lg .offcanvas{
        width: 100% !important;
    }
    .offcanvas-body{
        display: block !important;
    }
}

